/*------------general-------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Philosopher", sans-serif;
    color: rgb(158, 101, 26);
}

h1,
h2 {
    margin-bottom: 50px;
}

font {
    font-family: "Courgette", cursive;
}

a {
    text-decoration: none;
    color: rgb(158, 101, 26);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

a:visited {
    color: rgb(158, 101, 26);
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

a:hover {
    font-weight: 700;
}

#wrapper {
    max-width: 1920px;
    position: relative;
    right: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

.contentWrapper {
    max-width: 1600px;
    position: relative;
    right: 0;
    margin: auto;
    width: 100%;
}

.row {
    padding-top: 30px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 182px;
    top: 0;
    /* background-color: rgba(248, 227, 196, 1); */
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(248, 227, 196, 1)), to(rgba(255, 255, 255, 1)));
    background: linear-gradient( to bottom, rgba(248, 227, 196, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin-bottom: 60px;
    z-index: 99;
    max-width: 1920px;
    width: 100%;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: stretch;
    padding-right: 60px;
    padding-top: 50px;
}

nav li {
    list-style: none;
    display: block;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    width: 90px;
    line-height: 1.3em;
    position: relative;
    z-index: 5;
    height: 1.3em;
}

nav li:nth-of-type(1),
nav li:nth-of-type(2) {
    width: 125px;
}

nav li a {
    display: block;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

nav li a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    margin: auto;
    width: 20%;
    border-bottom: 3px solid rgb(158, 101, 26);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}

nav li:hover a::after {
    opacity: 1;
    visibility: visible;
    /* transform: translate( 100%);
    -webkit-transform: translate( 100%);
    -moz-transform: translate( 100%);
    -ms-transform: translate( 100%);
    -o-transform: translate( 100%);*/
}

nav li:nth-child(1):hover a::after {
    width: 77%;
}

nav li:nth-child(2):hover a::after,
nav li:nth-child(3):hover a::after,
nav li:nth-child(4):hover a::after {
    width: 60%;
}

nav li.currentPage:hover a::after {
    visibility: visible;
    width: 100%;
}

nav li:nth-child(2).currentPage:hover a::after {
    visibility: visible;
    width: 80%;
}

nav li:nth-child(3).currentPage:hover a::after {
    visibility: visible;
    width: 70%;
}

nav li:nth-child(4).currentPage:hover a::after {
    visibility: visible;
    width: 74%;
}

.sideMenu .currentPage,
.currentPage a {
    font-weight: 700;
    color: rgb(158, 101, 26);
    /* text-shadow: 2px 2px #333333; */
    font-size: 20px;
    -ms-flex-preferred-size: 1;
    flex-basis: 1;
}

.logo {
    height: 100%;
    padding: 20px 60px;
    opacity: 1;
}

.logo img {
    height: 135px;
}


/*------------header-------------*/


/*------------index-------------*/

.hero {
    height: 500px;
    background-image: url("img/hero-section1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    position: relative;
    background-position-y: center;
}

.kiecaLogo {
    position: absolute;
    top: 120px;
    right: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 260px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.kiecaLogo::before {
    content: "";
    display: block;
    /*transition-duration: .8s;
    */
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 1);
    position: absolute;
    left: -20px;
    top: 0;
    animation: flash 6s infinite;
    opacity: 0;
    -webkit-animation: flash 6s infinite;
    z-index: 7;
}

@keyframes flash {
    0% {
        left: -20px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        left: 100%;
        opacity: 0;
    }
    21% {
        left: -20px;
    }
    100% {
        left: -20px;
    }
}

.kiecaLogo img:first-of-type {
    width: 70%;
    margin-bottom: 5px;
}

.figure-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
    list-style: none;
    text-align: center;
}


/* common style */

figure {
    max-width: 400px;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-height: 360px;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
    pointer-events: none;
}

figure figcaption,
figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

figure h2 span {
    font-weight: 800;
}

figure h2,
figure p {
    margin: 0;
}

figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/*  hover style */

.effectHover {
    background: #fff;
}

.effectHover:hover img {
    opacity: 0.4;
}

.effectHover figcaption::before,
.effectHover figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.effectHover figcaption::before {
    border-top: 1px solid rgb(158, 101, 26);
    border-bottom: 1px solid rgb(158, 101, 26);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effectHover figcaption::after {
    border-right: 1px solid rgb(158, 101, 26);
    border-left: 1px solid rgb(158, 101, 26);
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

.effectHover h2 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

.effectHover p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

.effectHover:hover figcaption::before,
.effectHover:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effectHover:hover h2,
.effectHover:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* sekcja informayjna */

.indexInformation {
    padding: 60px 120px;
    height: 600px;
    background-color: #fff;
    margin-bottom: 120px;
}

.indexText {
    width: 1000px;
    position: relative;
    right: 0;
    margin: auto;
}

.indexText p {
    margin-bottom: 15px;
    line-height: 1.6;
}


/*------------config help-------------*/

.helper {
    display: flex;
}

.sidebar {
    min-height: calc(100vh - 453px);
    width: 300px;
}

.sideMenu li {
    list-style: none;
    display: block;
    height: 2em;
    cursor: pointer;
}

.active {}


/*------------order-------------*/

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}


/*------------kontakt-------------*/

label {
    display: none;
}

.contactSectionFull {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.contactSection,
.formWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.formWrapper {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.contactData,
.formWrapper {
    width: 50%;
}

input {
    height: 45px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(207, 168, 59, 0.856);
    border-left: 2px solid rgba(158, 101, 26, 0.856);
    border-radius: 0 5px 0 5px;
    -webkit-border-radius: 0 5px 0 5px;
    -moz-border-radius: 0 5px 0 5px;
    -ms-border-radius: 0 5px 0 5px;
    -o-border-radius: 0 5px 0 5px;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid rgba(158, 101, 26, 0.856);
    border-left: 2px solid rgba(158, 101, 26, 0.856);
}

button[type="submit"] {
    border-radius: 10px;
    width: 90px;
    border: none;
    background-color: #f8e3c4;
    height: 40px;
    position: relative;
    right: 0;
    margin-left: auto;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

button[type="submit"]:hover {
    background-color: #a1651a;
    color: #f8e3c4;
}

.contactData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 150px;
}

.contactData p {
    line-height: 1.9;
}

.slider {
    margin-top: 10px;
}

#contactForm {
    width: 500px;
    /* background-color: bisque; */
}

.formRow {
    margin: 10px;
}

.formRow:last-of-type {
    text-align: right;
}

#imageHolder {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: aqua;
    right: 0;
    margin: 0 auto;
}

#imageHolder li {
    list-style: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


/* --------footer----------- */

footer {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(248, 227, 196);
    -webkit-box-shadow: 0px -15px 51px 25px rgba(248, 227, 196, 1);
    box-shadow: 0px -15px 51px 25px rgba(248, 227, 196, 1);
    padding: 15px;
    z-index: 99;
}

.line {
    display: flex;
    width: 100%;
    position: relative;
}

.quarter {
    width: 25%;
}

.quarter p {
    font-size: 17px;
    line-height: 1.8;
}

.footer-4-4 {
    display: flex;
    justify-content: flex-end;
}

.footer-2-4,
.footer-3-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-4-4 img {
    height: 40px;
    margin-left: 30px;
    opacity: 0.7;
    transition: 0.3s;
}

.footer-4-4 img:hover {
    opacity: 1;
}


/*------------responsive-------------*/