/*------------general-------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

font {
    font-family: 'Courgette', cursive;
}

body {}

a {
    text-decoration: none;
    color: gray;
}

a:visited {
    color: gray;
}

.wrapper {
    max-width: 1920px;
    position: relative;
    right: 0;
    margin: 0 auto;
}

.contentWrapper {
    max-width: 1800px;
    position: relative;
    right: 0;
    margin: auto;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px;
    background-color: rgba(248, 227, 196, 1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 15px 11px 0px rgba(248, 227, 196, 1), 0px -15px 11px 0px rgba(248, 227, 196, 1);
    box-shadow: 0px 15px 51px 25px rgb(248, 227, 196), 0px -15px 11px 0px rgba(248, 227, 196, 1);
    margin-bottom: 60px;
    z-index: 99;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 60px;
}

nav li {
    list-style: none;
    display: block;
    border-bottom: 1px solid blue;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    width: 7em;
    line-height: 1.7em;
}

.currentPage a {
    font-weight: 700;
    color: grey;
}

.logo {
    height: 100%;
    padding: 20px 60px;
}

.logo img {
    height: 135px;
}


/*------------header-------------*/


/*------------index-------------*/

.hero {
    height: 500px;
    background-image: url("img/hero-section1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .75;
}

.figure-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
}

figure {
    max-width: 400px;
}

figure img {
    width: 100%;
}

.indexInformation {
    padding: 60px 30px;
    height: 600px;
    background-color: cadetblue;
}


/*------------cccc-------------*/


/*------------kontakt-------------*/

label {
    display: none;
}

.contactSectionFull {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactSection,
.formWrapper {
    display: flex;
    align-items: center;
}

.contactData,
.formWrapper {
    width: 50%;
}

input {
    height: 45px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

.contactData {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.slider {
    margin-top: 10px
}

#contactForm {
    width: 500px;
    background-color: bisque;
}

.formRow {
    margin: 10px;
}

#imageHolder {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: aqua;
    right: 0;
    margin: 0 auto;
}

#imageHolder li {
    list-style: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


/* --------footer----------- */

footer {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(248, 227, 196);
    box-shadow: 0px -15px 51px 25px rgba(248, 227, 196, 1);
    padding: 15px;
    z-index: 99;
}


/*------------responsive-------------*/