/*------------general-------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: gray;
}

.wrapper {
    max-width: 1600px;
    position: relative;
    right: 0;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: blanchedalmond;
    position: sticky;
    top: 0;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    list-style: none;
    display: block;
    border-bottom: 1px solid blue;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    width: 7em;
    line-height: 1.7em;
}

.currentPage a {
    font-weight: 700;
    color: grey;
}

.logo {
    height: 100%;
    padding: 5px;
}

.logo img {
    height: 100%;
}


/*------------header-------------*/


/*------------index-------------*/

.hero {
    height: 500px;
    background-color: #f7bea7;
    background-image: url("img/hero-section1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.figure-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

figure {
    max-width: 400px;
}

figure img {
    width: 100%;
}

.indexInformation {
    padding: 60px 30px;
    height: 600px;
    background-color: cadetblue;
}


/*------------cccc-------------*/


/*------------kontakt-------------*/

label {
    display: none;
}

#imageHolder {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: aqua;
    right: 0;
    margin: 0 auto;
}

#imageHolder li {
    list-style: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


/* --------footer----------- */

footer {
    display: flex;
    height: 120px;
    align-items: center;
    background-color: #f7bea7;
    padding: 15px;
}


/*------------responsive-------------*/